body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    top: 0px;
    background-color: rgb(31, 81, 230);
    width: 100%;
    color: #fcfcfc;
}

nav#sticky {
    position: sticky;
}

main {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

section {
    padding: 16px;
}

@media screen and (max-width: 767px) {
    section {
        margin: auto;
    }
}

a {
    color: #323232;
    text-decoration: none;
    font-weight: 500;
}

details {
    cursor: pointer;
    padding: 12px 0;
}

.navbar {
    padding-right: 2em;
    display: flex;
    list-style-type: none;
    margin-left: auto;
    flex-direction: column;
}

.navbar a {
    color: #fcfcfc;
}

.icon {
    color: #fcfcfc;
    display: flex;
    margin-right: 1em;
    position: relative;
}

#hidden-menu {
    margin: auto;
}

#toggle-nav {
    display: none;
    align-items: center;
}

#toggle-nav a {
    margin: auto;
    width: 100%;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    text-align: center;
    padding-bottom: 1em;
}

@media screen and (max-width: 767px) {
    #nav-list {
        display: none;
        list-style-type: none;
    }
}

@media screen and (min-width: 768px) {
    #nav-list {
        display: flex;
        list-style-type: none;
    }
}


@media screen and (max-width: 767px) {
    .icon {
        display: flex;
        margin: auto;
    }

    i.fa {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 768px) {
    .icon {
        display: none;
        margin: 0 auto;
    }
}



.nav-item {
    margin: 8px;
}

#logo {
    padding-left: 1em;
}

.about-me-container {
    display: flex;
    flex-wrap: wrap;
}

.about-me-text-container {
    margin: auto;
    width: 60%;
    min-width: 50%;
}

.about-me-img-container {
    min-width: 30%;
    margin: auto;
}

.portrait {
    min-width: 300px;
    height: 450px;
    border-radius: 12px;
    flex-shrink: 1;
    object-fit: cover;
    margin: 1em auto;
}

#projects {
    margin-right: auto;
}

.project-title h3 {
    display: inline;
}

code {
    display: flex;
    flex-direction: row;
    background-color: #323232;
    color: whitesmoke;
    border-radius: 12px;
    overflow: auto;
}

.fab {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.skill {
    margin-bottom: 2em;
    margin: auto;
    padding: 1em;
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .skill {
        width: 40%;
    }
}

@media only screen and (min-width: 768px) {
    .skill {
        width: 27%;
    }
}

i.fab {
    color: #323232;
    font-size: 50px;
    margin-bottom: .2em;
}

.skill-bar {
    background: #ccc;
    display: block;
    height: 5px;
    width: 100%;
}

.skill-percentage {
    background: #e63550;
    display: inherit;
    height: inherit;
    position: relative;
    width: auto;
}

.contact-list a {
    margin: 0 1em;
}

footer {
    background-color: rgb(31, 81, 230);
    padding: 1em;
    color: #fcfcfc;
}