body {
    font-family: 'Roboto', sans-serif;
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

*/

nav {
    display: flex;
    align-items: center;
    margin: 2em 0;
    position: sticky;
    top: 0px;
    background-color: royalblue;
    width: 100%;
    color: #ccc;
}

section {
    padding: 16px 0;
}

a {
    color: #323232;
    text-decoration: none;
    font-weight: 500;
}

details {
    cursor: pointer;
    padding: 12px 0;
}

.navbar {
    padding-right: 1em;
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: auto;
}

.navbar a {
    color: #ccc;
}

.nav-item {
    margin: 8px;
}

#logo {
    padding-left: 1em;
}

.portrait {
    width: 300px;
    height: 450px;
    border-radius: 12px;
    flex-shrink: 1;
    object-fit: cover;
    margin: auto;
}

.about-me-container {
    display: flex;
    flex-wrap: wrap;
}

.about-me-text-container {
    margin-right: 16px;
}

.project-title h3 {
    display: inline;
}

.code {
    display: flex;
    background-color: #323232;
    color: whitesmoke;
    border-radius: 12px;
}

.fab {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.skill {
    margin-bottom: 2em;
    margin: auto;
    padding: 1em;
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .skill {
        width: 40%;
    }
}

@media only screen and (min-width: 768px) {
    .skill {
        width: 27%;
    }
}

.skill i {
    color: #323232;
    font-size: 50px;
    margin-bottom: .2em;
}

.skill-bar {
    background: #ccc;
    display: block;
    height: 5px;
    width: 100%;
}

.skill-percentage {
    background: #e63550;
    display: inherit;
    height: inherit;
    position: relative;
    width: auto;
}